<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Questions</title>
  
  <script>
	function scrollToBottom() {
		var element = document.getElementById("scrollable-div");
		element.scrollTop = element.scrollHeight;
	}
  </script>	  
</head>
<body>
  <form action="/" method="post">
    <label for="question">Question:</label>
    <input type="text" id="question" name="question" autofocus>
    <input type="submit" value="Submit">
  </form>
  <hr>
  <div style="overflow-y: scroll; max-height: 500px;" id="scrollable-div" overflow=hidden>
    {% for question in questions %}
      <p>{{ question }}</p>
    {% endfor %}
  </div>
  
  
  <script>
	window.onload = function() {
		scrollToBottom();
	};
</script>
</body>
</html>
